@model TeaCollection

<div class="card mb-3">
    <div class="card-body">
        <dl class="row mb-0">
            @if (Model.Uuid is not null)
            {
                <dt class="col-sm-3">UUID</dt>
                <dd class="col-sm-9 tea-uuid">@Model.Uuid</dd>
            }
            @if (Model.Version is not null)
            {
                <dt class="col-sm-3">Version</dt>
                <dd class="col-sm-9">@Model.Version</dd>
            }
            @if (Model.Date is not null)
            {
                <dt class="col-sm-3">Date</dt>
                <dd class="col-sm-9">@Model.Date.Value.ToString("yyyy-MM-dd HH:mm:ss zzz")</dd>
            }
            @if (Model.BelongsTo is not null)
            {
                <dt class="col-sm-3">Belongs To</dt>
                <dd class="col-sm-9">@Model.BelongsTo</dd>
            }
            @if (Model.UpdateReason is not null)
            {
                <dt class="col-sm-3">Update Reason</dt>
                <dd class="col-sm-9">
                    @Model.UpdateReason.Type
                    @if (Model.UpdateReason.Comment is not null)
                    {
                        <span class="text-muted">&mdash; @Model.UpdateReason.Comment</span>
                    }
                </dd>
            }
        </dl>
    </div>
</div>

<h5>Artifacts</h5>
<partial name="_ArtifactsTablePartial" model="Model.Artifacts" />
